{{ define "main" }}
<div class="rail-row">
  <span class="rail"></span>
  <div class="rail-main page-head">
    <h1>{{ .Title }}</h1>
    <content class="page-body">
      {{ .Content }}

      <ul class="blog-posts toolbox-list">
        {{ range .Pages }}
        {{ if .IsSection }}
        <li class="toolbox-section">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <ul class="toolbox-sublist">
            {{ range .Pages }}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
        {{ end }}
      </ul>
    </content>
  </div>
</div>
{{ end }}
