{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . | absURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ . | absURL }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ . | absURL }}" />
{{ end }}

<!-- iOS Apple Touch Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon-large.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon-large.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon-large.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon-large.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon-large.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon.png" />
<link rel="apple-touch-icon" href="/images/favicon.png" />

<!-- iOS Status Bar Style -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta
    name="apple-mobile-web-app-status-bar-style"
    content="black-translucent"
/>
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}" />
